html {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0 1em 0 1em;
  margin: 0 auto;
  font-size: 13px;
}

h1 {
  color: #c6bc86;
  background-color: #40322b;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 26px;
  text-align: center;
}
