html {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0 1em 0 1em;
  margin: 0 auto;
  font-size: 13px;
}

h1 {
  color: #c6bc86;
  background-color: #40322b;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 26px;
  text-align: center;
}

@-moz-viewport { width:device-width; scale: 1}
@-ms-viewport { width:device-width; scale: 1}
@-o-viewport { width:device-width; scale: 1}
@-webkit-viewport { width:device-width; scale: 1}
@viewport { width:device-width; scale: 1}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before,*::after {
  box-sizing: inherit;
}


@media only screen and (min-width: 35em) {

}

@media only screen and (min-width: 50em) {
